<app-titulo texto='{{titulo}}'></app-titulo>
<app-titulo [texto]='titulo'></app-titulo>

<pre>
  {{ titulo }}
  {{ titulo | lowercase }}
  {{ titulo | uppercase }}
  {{ titulo | titlecase }}
  {{ 3.1415926 | number:'1.2-4':'es' }}
  {{ 12343 | number:'1.2-4':'es' }}
  {{ 123123123.1234 | currency:'EUR':'symbol':'4.2-2':'es' }}
  {{ 0.25 | percent:'1.0-0':'es' }}
  {{ fecha | date:'fullDate':'UTC':'es' | titlecase }}
  {{ fecha | date:'yyyy-MM-ddTHH:mm':'GMT+2':'es' }}
  {{ array | slice:2:4 }}
  {{ 'Este es un texto largo...' | slice:0:10 }}...
  {{ objeto }}
  {{ objeto | json }}
  {{ objeto | keyvalue | json }}
  {{ 0 | i18nPlural: mapeoMensajes }}
  {{ 1 | i18nPlural: mapeoMensajes }}
  {{ 2 | i18nPlural: mapeoMensajes }}
  {{ 'casa' | i18nSelect:diccionario }}
  {{ 'perro' | i18nSelect:diccionario }}
  {{ 'otra cosa' | i18nSelect:diccionario }}

  {{ 'prueba de texto' | mayusculador:'primera'}}
</pre>

<p [ngClass]="objeto.id === 5 ? 'error': ''">El objeto no puede tener id 5</p>

<input type="checkbox" [(ngModel)]="clases.importante" name="importante">
<input type="checkbox" [(ngModel)]="clases.enfasis" name="enfasis">

<input type="text" [(ngModel)]="estilos['font-size']" name="tamano">
<input type="text" [(ngModel)]="estilos.border" name="borde">

<p [ngStyle]="estilos" [ngClass]="clases">Texto</p>

<input type="number" [(ngModel)]="redondeado">

<p [ngStyle]="{ border: '1px solid black', 'border-radius': redondeado + 'px' }">Redondeado</p>
<p style="border: 1px solid black; border-radius: {{redondeado}}px;">Redondeado</p>

<table border="1">
  <tr *ngFor="let par of objeto | keyvalue">
    <td>{{par.key | titlecase }}</td><td>{{par.value}}</td>
  </tr>
</table>

<img style="width: 25%" src="{{imgSrc}}" alt="{{imgSrc}}">
<img style="width: 25%" [src]="imgSrc" [alt]="imgSrc">

<p appFosforito="cyan">Este texto va a salir en fosforito</p>

<p [appFosforito]="colorSeleccionado">Elige qué color quieres en el cuadro de color</p>

<p appFosforito="{{colorSeleccionado}}">Otro igual</p>

<input type="color" [(ngModel)]="colorSeleccionado">

<div>
  <input type="radio" name="colors" (click)="colorSeleccionado='#AAFFAA'">Green
  <input type="radio" name="colors" (click)="colorSeleccionado='#FFFF00'">Yellow
  <input type="radio" name="colors" (click)="colorSeleccionado='#AAFFFF'">Cyan
</div>

<p [appFosforito]="miColor" colorPorDefecto="#0000FF">Prueba con azul por defecto</p>
<p [appFosforito]="miColor">Sin color por defecto</p>

<div>
  <input type="radio" name="colors" (click)="miColor='#AAFFAA'">Green
  <input type="radio" name="colors" (click)="miColor='#FFFF00'">Yellow
  <input type="radio" name="colors" (click)="miColor='#AAFFFF'">Cyan
</div>

<p>{{ 1 + 1 }}</p>
<p ngNonBindable>{{ 1 + 1 }}</p>